textarea {
    min-height: 400px;
}

.mail-item li {
    display: inline;
}

li {
    list-style-type: none;
} 

ul {
    padding-left: 0;
}

.border {
    border: 1px solid black;
}

.white-background {
    background-color: white;
}

.gray-background {
    background-color:lightgrey;
}

.person {
    font-weight: bold;
    padding-left: 5px;
    width: 170px;
}

/* .subject {
} */

.timestamp {
    color: gray;
    /* width:60%; */
    /* min-width:30%; */
    text-align: right;
    padding-right: 5px;
}

table {
    table-layout: fixed;
    width: 100%;
}

tr {
    border: 1px solid #dddddd; 
}

td {
    word-wrap: break-word;
}